/*
Project Name: 02
Client: FEWD-96
Author: Libby Barden
Developer @GA in NYC
*/

* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

body {
	font: "open sans";
	font-weight: "light", "light italic", "semibold", "extrabold";	
}

.top {
/*section*/	
	height: 550px;
	width: 900px;
	background-image: url("../images/header_bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.relaxr {
	font-size: 48px;
	font-weight: 800;
	color: white;
	margin-left: 60px
	padding-top: 100px; /*for some reason this won't do the trick*/
	padding-left: 40px;
}

.get-piece {
	font-size: 48px;
	font-weight: 600;
	border-radius: 5px;
	color: white;
	text-align: center;
	margin-left: 20px;
	margin-right: auto;
	padding: 80px;	
	
}

.get-it {
	font-size: 28px;
	font-weight: 800;
	border-radius: 5px;
	color: black;
	box-sizing: border-box;
	background-color: #f9e24e;
	padding: 10px 10px;
	width: 250px;
	text-align: center;
	margin-left: 350px;
	margin-right: auto;
	margin-bottom: 70px;
	

}

.benefits {
	width: 900px;
	text-align: left;
	padding-bottom: 10px;


}

.benefits h1 {
	font-size: 40px;
	font-weight: 600;
	margin-top: 40px;
	margin-left: 50px;
	margin-right: auto;

}

.benefits p {
	color: #606161;
	font-size: 26px;
	font-weight: 300;
	margin-left: 50px;
	margin-right: 300px;
	margin-top: 20px;

}

.benefits ul {
	color: #606161;
	font-size: 26px;
	font-weight: 300;
	margin-left: 100px;
	margin-right: 300px;
	margin-top: 20px;
	padding: 20px;

}

.bottom {
/*section*/	
	height: 350px;
	width: 900px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: url("../images/testimonial_bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.quote	{
	height: 150px;
	width: 900px;
	font-size: 36px;
	font-weight: 300i;
	text-align: center;
	color: white;
	margin-left: 25px;
	margin-right: auto;
	margin-top: 50px;
	padding-right: 175px;
	padding-left: 150px;


}
.author {
	width: 900px;
	font-size: 36px;
	font-weight: 600;
	color: white;
	text-align: center;

}

.bottom-button {
	width: 900px;
	background-color: #f9e42e;
	height: 100px;
	padding: 25px;
}

.bottom-button .sign {
	background-color: #033048;
	color: white;
	font-size: 24px;
	font-weight: 600;
	font-style: center;
	padding: 10px 10px;
	width: 250px;
	text-align: center;
	box-sizing: border-box;
	margin-left: 300px;
	margin-right: auto;	
}

.footer {
/*section*/
	width: 900px;
	background-color: #121212;
	height: 300px;
}

.footer h2 {
	color: #f9e24e;
	font-size: 48px;
	font-weight: 800;
	text-align: center;
	padding-top: 40px;
}

.footer footer {
	color: white;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	padding-top: 150px;
}

.facebook {
     max-width: 100%;
     height: auto;
     width: auto\9;
     float: right;
     padding-right: 410px;
     padding-top: 40px; 
}
.twitter{
     max-width: 100%;
     height: auto;
     width: auto\9; 
     float: left;
     padding-left: 390px;
     padding-top: 40px; 
 }    





